body{
    background-color: black;
    color: white;
}

.nav-icon{
    width: 50px;
    border-radius: 15px;
}

.nav-item a{
    font-size: x-large;
}

.btn-download{
    border-color: black;
    transition: 1s ;
    background: linear-gradient(90deg,rgb(19,132,181),rgb(15,38,87), rgb(16,29,46));
    background-size: 400% 400%;
}

.btn-download:hover{
    border-color: black;
    transform: scale(1.10);
    animation: border-gradient 3s infinite;
}

.accordion{
    --bs-accordion-active-bg: rgb(102, 9, 27);
    --bs-accordion-active-color: white;
    --bs-accordion-btn-bg: rgb(48, 42, 42);
    --bs-accordion-btn-focus-box-shadow: 0 0 5px rgb(102, 9, 27);
}

.btn{
    --bs-btn-bg: rgb(102,9,27);
    --bs-btn-border-color: rgb(102, 9, 27);
    --bs-btn-hover-bg: rgb(59, 5, 16);
    --bs-btn-hover-border-color: rgb(59, 5, 16);
    --bs-btn-active-bg: rgb(151, 15, 42);
    --bs-btn-active-border-color: rgb(151, 15, 42);
}

.form-check-input:checked{
    background-color: rgb(151,15,42);
    border-color: rgb(151,15,42);
}

.card-img-top {
    width: 100%;
    aspect-ratio: 4/4;
    object-fit: fill;
}

.carousel-item img{
    aspect-ratio: 16/9;
}

.cards-guide{
    background-color: rgb(48, 42, 42);
}

@keyframes border-gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}